@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

main {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

section {
  min-height: 750px;
}

.photo_container {
  display: flex;
  flex-direction: column;
}

.video_container {
  margin-top: 10px;
}

#savepic {
  border: #3d7448 1px solid;
  background-color: transparent;
  color: #3d7448;
  padding: 0.5rem;
  border-radius: 5px;
}

#savepic:hover {
  background-color: #3d7448;
  color: white;
}

#tar {
  margin-top: 20px;
  height: 200px;
}
